/*CSS selector used to create/import fonts, allowing you to name them as well */
@font-face{
    font-family: outfit;
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face{
    font-family: yungSerif;
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");

}

/*Known as a CSS reset, this strips the margins and spacing btwn elements like <p>
and <section>, allowing us to look at a blank slate and customize accordingly*/
* {
    padding: 0;
    /*padding = used to generate space around an element's content INSIDE defined borders*/
    margin: 0;
    /*margin = used to generate space around an element's content OUTSIDE defined borders*/
    width: 100%;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);

}

main {
    display: flex; /**/
    flex-direction: column; /*makes flex container go vertical*/
    justify-content: center; /*aligns flex items centered to the container*/
    background-color: white;
    align-items: center; /*centers items in container*/
    width: 450px;
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 25px;
    border-radius: 20px;
}

h1, h2{
    font-family: yungSerif;
    font-weight: normal;
    padding-bottom: 15px;

}
/*penis*/
h1{
    font-size: 27px;
    color: hsl(24,5%,18%);
    padding-top: 12px;

}


#b4-prep img {
    border-radius: 10px;

}

#b4-prep p{
    font-family: outfit;
    color: rgb(101, 101, 101);
    font-size: x-small;
}

#b4-prep {
    margin: 10px;
}

#prep-time div{
    background-color: rgb(247, 237, 247);
    margin: 20px 10px;
    
}
#prep-time h3 {
    font-family: outfit;
    color: purple;
    padding: 10px;
    padding-bottom: 0px;
    font-size: small;
}
#prep-time ul {
    list-style-position: inside;
    margin: 5px;
    padding: 15px;
    padding-top: 0px;
    font-family: outfit;
    font-size: x-small;

}

#prep-time li {
    padding: 3px;
    color: rgb(72, 71, 71);
}

#prep-time span {
    font-weight: bold;
}