@font-face{
    font-family: outfit;
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face{
    font-family: yungSerif;
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");

}

h1{
    font-family: yungSerif;
}

* {
    padding: 0;
    margin: 0;

}
